.container{
    height: 648px;
    width: 320px;
    background: linear-gradient( 10deg, #6a11ea 0%, #943cff 20%, rgba(255,0,238,1) 63%, rgba(255,199,0,1) 96% );
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    
}
img{
    height: 100%;
    width: 100%;
   
}
.test{
    color: white;
}
.name-container{
width: 90%;
height: 10%;
background: linear-gradient( 10deg, #6a11ea 0%, #943cff 20%, rgba(255,0,238,1) 63%, rgb(240, 63, 210) 96% );
margin: auto;
border-radius: 10px;
margin-top: 10px;

display: flex;
justify-content: center;
  align-items: center;
  padding-left: 5px; 
  box-sizing: border-box;
  border: gold 5px solid;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  font-weight: bold;
}
.photo-container{
    background: linear-gradient( 10deg, #6a11ea 0%, #f7bb4c 20%, rgba(255,0,238,1) 63%, rgb(63, 75, 240) 96% );
    height: 39%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    border: gold 5px solid;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    
}
.text-input{
    
    padding: 20px;
    box-sizing: border-box;
    padding-left: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    
    
    
}
.quotes{
    padding-left: 8px;
    line-height: 17px;
    margin-bottom: 10px;
}
.finishqu{
    margin-top: 10px;
}
ul{
    padding-left: 13px;
    
}
li{
    list-style-type: none;
}
.break-line{
    border-bottom: gold 2px solid;
    
    margin: auto;
    width: 80%;
    margin-left: 33px;
    
    
    
}